# Server Configuration
PORT=4000

# PostgreSQL Connection String (Neon, Supabase, or Local instance)
DATABASE_URL="postgresql://username:password@ep-host-name.region.aws.neon.tech/dbname?sslmode=require"

# JWT Token Secret Key
JWT_SECRET="super-secret-key-change-in-production"
